.get-support-section{
    display: flex;
    padding: 2rem 10rem 4rem 10rem;
}

.get-support-section img{   
    width: 100%;
    object-fit: contain;
}

.support-group{
    flex:0.3;
    flex-basis: 30%;
}

.here-to-help{
    flex:0.7;
    flex-basis: 70%;
    align-self: center;
}

.here-to-help h1{
    font-size: 3.5rem;
    width: 100%;
    font-weight: 600;
}

.here-to-help p{
    font-size: 1.5rem;
    width: 90%;
}

.category-card {
    cursor: pointer;
    transform: all 0.5s;
    height: 200px;
}
.category-card:hover{
    opacity: 0.9;
    color: #E01860;
    font-weight: 500;
}

.category-image{
    height:150px !important;
}

.category-image img{
    object-fit: cover;
    width: 100%;
}

.support{
    margin-top: 5rem;
}
.support h3{
    font-family: cursive;
    font-weight: 500;
    font-size: 2.5rem;
}

.ngoImg {
    width: 20% !important;
  justify-content: center;
    height: 23vmin !important;
    margin: 20px 2px;
}
.ngoImg img{
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 750px) {
    .get-support-section{
        display: block;
        padding: 2rem;
        padding-top: 0;
    }

    .flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
}

@media only screen and (max-width: 450px) {
    .get-support-section{
     
        padding-top: 1rem;
    }
}