.note {
    width: 100%;
    margin: 4rem auto;
    margin-top: 8rem;
    padding: 20px;
    padding-top: 0px;
    height: 100%;
    display: flex;
justify-content: center;
    align-items: center;
}

.note-img {
    width: 100%;
    /* height: 250px; */
    border-radius: 50%;
    margin: 5px auto;
    padding-top: 10px;
    background-color: black;
}

.note-section-1{
   
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.8)), url(./images/livechat.jpg) no-repeat center center /cover;
    flex:0.4;
    height: 450px;
  
}

.note-section-2{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.8)), url(./images/ngos.jpg) no-repeat center center /cover;;
    flex:0.4;
    margin-left: 4rem;
    height: 450px;;
}

.note-header {
    margin:0px;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 3rem;
    background-color:#e01860;
    color: white;
}

.note-paragraph {
    width: 70%;
    text-align: center;
    margin: 0px auto;
    padding-top: 14rem;
    font-size: 16px;
    color: white;
}
.btn{
border-radius: 7px;
border-bottom:1px solid #e01860 !important;
}
.btn:hover{
border: 1px solid #e01860;
color: white;
}
@media screen and (max-width:800px) {
    .note-section-2 .note-paragraph {
        padding-top: 11rem;
    }

}
@media screen and (max-width:750px) {
    .note {
        display: block !important;
        width: 90%;
        
    }
    .note-section-2 {
     margin-left: 0;
     margin-top: 4rem;
    }
 
}
@media screen and (max-width:450px) {
    .note-img {
        height: 150px !important;
        border-radius: 50%;
    }
    .note-paragraph {
        margin-top: 10px;
    }
}